@import '../variables.scss';

#paint {
    #paint-ribbon {
        background-color: $ribbonbg;
        padding: 5px 0;
        display: flex;
        border-bottom: 1px solid rgb(216, 216, 216);
        box-shadow: 0 2px 4px rgb(209, 209, 209);

        > div {
            border-right: 1px solid grey;
            height: 90px;
            padding: 5px 5px 0;
        }

        .paint-title {
            text-align: center;
            font-size: 0.8rem;
            color: rgb(53, 53, 53);
        }

        #paint-tools {
            width: 55px;

            .tool-btns {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                padding-bottom: 8px;

                button {
                    background: none;
                    border: 1px solid $ribbonbg;
                    margin: 1px;
                    padding: 3px;

                    img {
                        height: 17px;
                        width: 17px;
                    }

                    &:hover {
                        background: rgb(225, 242, 253);
                        border: 1px solid rgb(146, 211, 255);
                    }
                }
            }
        }

        #paint-brush {
            align-self: center;

            button {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }

            #menu-panel {

                gap: 4px;
                padding: 2px 0;

                img {
                    background-color: rgba(255, 255, 255, 0.8);
                    border: 1px solid grey;
                    width: 32px;
                }

                span {
                    border-top: 1px solid rgb(91, 189, 255);
                    padding-top: 2px;
                    font-size: 0.75rem;
                    line-height: 12px;
                    width: 50px;
                    word-break: break-word;
                }
            }

            .menu-container {
                position: relative;

                .menu {
                    position: absolute;
                    width: 100px;
                    height: 70px;
                    background-color: white;
                    border: 1px solid grey;
                    list-style: none;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    gap: 2px;
                    padding: 2px;

                    li {
                        height: calc(150px / 4 - 6px);
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border: 1px solid white;

                        span {
                            background-color: navy;
                            width: 80px;
                        }

                        &:hover {
                            background: rgb(225, 242, 253);
                            border: 1px solid rgb(146, 211, 255);
                        }
                    }
                }
            }
        }
    }
}