
#desktop {
    display: none;
   


    display: flex;
    flex-wrap: wrap;
    height: 100%;
    flex-direction: column;
   
    .desktop-icon {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        width: 100px;
        height: 100px;
     

        img {
            height: 38%;
            
        }
    }

    .icon-options {
        height: 200px;
        width: 200px;
        background-color: white;
    }
}