#desktop {
    display: none;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    flex-direction: column;

    .desktop-icon {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        width: 120px;
        height: 100px;
        padding: .2rem;
        scale: .9;

        input {
            border: 0;
            height: 20px;
            padding: 3px;
            background-color: white;
        }

        img {
            height: 38%;
        }
    }

    .icon-options {
        height: 200px;
        width: 200px;
        background-color: white;
    }
}