#rc-menu{
    display: none;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    overflow: hidden;
    background-color: white;
    width: 200px;
    gap: .2rem;
    li {
        display: inline-block;
        padding-top: 3px;
        padding-left: 10px;
        text-align: start;
        width: 100%;
        list-style-type: none;

        &:hover {
            background-color: rgb(198, 196, 196);
        }
    }
    .new {
        padding-left: 10px;
        &:hover {
            background-color: rgb(198, 196, 196);
        }
    }
    .display-settings {
        display: flex;
        flex-direction: column;
        padding-left: .6rem;
        
        img {
            height: 20px;
        }
        span {
            display: flex;
            gap: .5rem;
                 &:hover {
            background-color: rgb(198, 196, 196);
        }   
        }
    }

 
  
}