#search {

    .middle {

        .right {
            display: flex;
            flex-direction: column;
            width: 390px;
            padding-right: 10px;

            #tih-container {
                display: flex;
                flex-direction: column;
                gap: 10px;

                #img-container {
                    position: relative;

                    img {
                        width: 390px;
                        height: 200px;
                        object-fit: cover;
                        border-radius: 8px;
                        object-position: 75% 25%;
                    }

                    #label {
                        position: absolute;
                        width: 380px;
                        font-size: 2rem;
                        bottom: 10%;
                        left: 3%;
                        text-shadow: #000 1px 0 10px;
                        line-height: 2rem;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }

            #events-container {
                display: flex;
                flex-direction: column;
                margin-top: 8px;
                gap: 3px;

                #events-items {
                    display: flex;
                    overflow-x: hidden;
                    scroll-behavior: smooth;

                    .left-btn, .right-btn {
                        position: fixed;
                        z-index: 99;
                        top: 55%;
                        width: 18px;
                        height: 50px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background-color: rgba(41, 41, 41, 0.9);
                        border-radius: 2px;
                        border: none;
                        color: rgb(201, 201, 201);

                        svg path {
                            stroke-width: 1;
                        }

                        &:hover {
                            background-color: rgba(48, 48, 48, 0.85);
                            
                            svg path {
                                stroke: white;
                            }
                        }
                    }

                    .right-btn {
                        right: 10px;
                    }

                    .event {
                        position: relative;
                        margin-right: 10px;

                        img {
                            min-height: 200px;
                            min-width: 150px;
                            height: 200px;
                            width: 150px;
                            background-color: white;
                            border-radius: 8px;
                            object-fit: cover;
                            object-position: 75% 25%;

                            &:hover {
                                filter: contrast(120%);
                            }
                        }

                        .event-text {
                            position: absolute;
                            display: flex;
                            flex-direction: column;
                            bottom: 6%;
                            left: 5px;
                            font-weight: 500;
                            background: rgba(0, 0, 0, 0.75);
                            border-radius: 5px;
                            padding: 3px;

                            a {
                                width: 134px;
                                font-size: 0.85rem;
                                text-overflow: ellipsis;
                                overflow: hidden;
                                white-space: nowrap;

                                &:hover {
                                    text-decoration: underline;
                                }
                            }
                        }
                    }

                    .quote-container {
                        position: relative;
                        height: 200px;
                        min-width: 140px;
                        border-radius: 8px;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-around;
                        padding: 0 5px;
                        margin-right: 10px;
                        background-image: linear-gradient( 320deg,  rgba(255,202,88,1) 0%, rgba(139,73,255,1) 100.2% );

                        #quote {
                            font-style: italic;
                            font-weight: 100;
                        }

                        #author {
                            align-self: flex-end;
                            font-style: italic;
                            font-size: 0.85rem;
                        }

                        .title {
                            font-weight: 600;
                            align-self: center;
                        }
                    }
                }
            }

            #trending-container {
                border: 2px solid black;
                margin-bottom: 25px;

                #news-container {
                    display: flex;
                    flex-direction: column;
                    width: 390px;

                    &:hover {
                        overflow-x: scroll;
                    }

                    #trending {
                        padding: 1rem;
                    }

                    #news {
                        display: flex;

                        .header {
                            display: none;
                        }

                        .title {
                            text-align: center;
                            width: 150px;
                            font-size: .8rem;
                            text-overflow: ellipsis;
                            overflow: hidden;
                            white-space: nowrap;
                        }

                        .article {
                            display: flex;
                            gap: 10px;
                            color: white !important;
                            flex-direction: column;
                            align-items: center;
                            justify-content: center;
                            margin: 1rem;
                            background-color: rgb(46, 43, 43) !important;
                        }

                        img {
                            height: 100px;
                            width: 160px;
                            border-radius: 8px;
                        }
                    }
                }
            }
        }
    }
}