@import 'variables.scss';

#small-clock {
    cursor: default;
    height: 100%;
    padding: 0 8px;
    color: white;

    &:hover {
        background-color: rgba(255, 255, 255, 0.1);
    }

    #clock-tooltip {
        position: absolute;
        top: -20px;
        right: -45px;
        transform: translateX(-25%);
        width: max-content;
        background-color: whitesmoke;
        color: $dgrey;
        border: 1px solid $dgrey;
        box-shadow: 0 3px 8px black;
        padding: 1px 5px;
        font-size: 0.9rem;
        display: block;
    }

    #clock-container {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: center;
        align-items: center;
        font-size: 0.85rem;
    }
}