

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', sans-serif;
    height: 100vh;
    background: url(../assets/background.jpg) fixed;
    background-size: cover;
    background-position: center;
}

#root, .App {
    height: 100%;
    width: 100%;
}

button {
    cursor: pointer;
    font-family: 'Segoe UI', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}
#audition {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    #audition-window{
        
    }
}

#audition-handle {
    height: 24px;
    background-color: grey;
    outline: 1px solid white;    
    width: 62.7%;
}