#task-bar {
  display: flex;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 4%;
  background-color: rgb(172, 160, 160);

  .task {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: .8rem;
    height: 100%;
    width: 3rem;
    
    img{
      height: 50%;
    }

    &:hover {
      background-color: lightgray;
    }
  }
}
